<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Database" connectionString="datasource=127.0.0.1;port=3306;username=root;database=stocks;"/>
    <add name="watchguard" connectionString="Authentication Type=SPLA; Server=127.0.0.1; User ID=root;"/>
    
  </connectionStrings>
  </configuration>